.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.books {
  display: flex;
}
.book {
  flex: 1;
}
img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  background-color: aquamarine;
}
